@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 210 20% 95%;
    --foreground: 210 15% 25%;
    --card: 0 0% 98%;
    --card-foreground: 210 15% 25%;
    --popover: 0 0% 98%;
    --popover-foreground: 210 15% 25%;
    --primary: 210 15% 25%;
    --primary-foreground: 210 20% 95%;
    --secondary: 210 20% 85%;
    --secondary-foreground: 210 15% 25%;
    --muted: 210 20% 85%;
    --muted-foreground: 210 15% 35%;
    --accent: 210 20% 85%;
    --accent-foreground: 210 15% 25%;
    --destructive: 0 70% 50%;
    --destructive-foreground: 0 0% 95%;
    --border: 210 20% 75%;
    --input: 210 20% 75%;
    --ring: 210 15% 25%;
    --chart-1: 210 60% 50%;
    --chart-2: 173 50% 35%;
    --chart-3: 197 30% 20%;
    --chart-4: 43 60% 55%;
    --chart-5: 27 70% 60%;
    --radius: 0.5rem;
    --sidebar-background: 210 20% 95%;
    --sidebar-foreground: 210 15% 25%;
    --sidebar-primary: 210 15% 25%;
    --sidebar-primary-foreground: 210 20% 95%;
    --sidebar-accent: 210 20% 85%;
    --sidebar-accent-foreground: 210 15% 25%;
    --sidebar-border: 210 20% 75%;
    --sidebar-ring: 217.2 80% 50%;
  }
  .dark {
    --background: 270 20% 15%;
    --foreground: 270 30% 85%;
    --card: 270 20% 15%;
    --card-foreground: 270 30% 85%;
    --popover: 270 20% 15%;
    --popover-foreground: 270 30% 85%;
    --primary: 270 30% 85%;
    --primary-foreground: 270 20% 15%;
    --secondary: 270 20% 25%;
    --secondary-foreground: 270 30% 85%;
    --muted: 270 20% 25%;
    --muted-foreground: 270 30% 65%;
    --accent: 270 20% 25%;
    --accent-foreground: 270 30% 85%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 0 0% 95%;
    --border: 270 20% 25%;
    --input: 270 20% 25%;
    --ring: 270 30% 85%;
    --chart-1: 270 60% 40%;
    --chart-2: 270 50% 35%;
    --chart-3: 270 70% 45%;
    --chart-4: 270 55% 50%;
    --chart-5: 270 65% 45%;
    --sidebar-background: 270 20% 15%;
    --sidebar-foreground: 270 30% 85%;
    --sidebar-primary: 270 70% 40%;
    --sidebar-primary-foreground: 0 0% 95%;
    --sidebar-accent: 270 20% 25%;
    --sidebar-accent-foreground: 270 30% 85%;
    --sidebar-border: 270 20% 25%;
    --sidebar-ring: 217.2 80% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
